
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
  font-family: 'Cormorant Upright', serif;
  font-family: 'Shadows Into Light', cursive;
  
  background-color: #DCCA87;
  background-color:#0C0C0C;
  background-color: #545454;
  background-color: #AAAAAA;
  background-color: #FFFFFF;
}

