
.navbar {
    background-color: #DCCA87;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            border-top: solid #AAAAAA 2px;
             a {
                 
                width: 100%;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 1%;
   .fa-burger{
       font-size: 2em;
   }
            }
  }
 
  .navbar img {
    width: 30px;
    height: 30px;
  }
  
  
  
  .navbar .active {
    background-color: #FFFFFF;
    padding-top: 2.5%;
    padding-bottom: 1%;
  }
  
  .navbar div {
    width: 100%;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 1%;
  }